@font-face {
   font-family: Bitter;
   src: url("/fonts/");
 }

 
 * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Bitter;
    text-decoration: none;
 }

 * a {
   text-decoration: none;
   color: #ffffff;
 }

/* 
 Стили шапки */
 header {
    width: 100%; 
    background-color: #A408A7; 
  
 }
 .message {
   max-width: 30%;
   height: 40px;
   display: block;
   background-color: #ffffff;
   color: #A408A7;
   border: 1px solid #A408A7;
   border-radius: 20px;
   font-size: 24px;
   margin: 0 auto;
   text-align: center;
 }
 .message span {
   margin-top: 2px;
 }
 .section_header_one {
    background-color: #A408A7;
    height: 63px;
    color: aliceblue;
    font-weight: 400;
    
 }
 .element_header {
    gap: 20px;
    font-size: 20px;
 }
 .element_header_two {
    gap: 10px;
 }
 .icon_header {
    padding-bottom: 5px;
 }
 /* input[type=search] {
    font-size: 16px;
    padding-left: 34px;
    background-color: white;
    background-image: url('/img/icon.png');
    background-position:  10px;
    background-repeat: no-repeat;
 }
 input[type=search]:focus {
 border: 1px solid #A408A7;
 outline: none;
 } */
 .search_string {
    transition: width 0.5s ease-in-out;
    width: 220px;
    height: 30px;
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
    margin-top: 15px;
    border: 1px solid aliceblue;

    font-size: 16px;
    padding-left: 34px;
    background-color: white;
    background-image: url('/img/icon.png');
    background-position:  10px;
    background-repeat: no-repeat;
 }
 .search_string:focus {
    width: 300px;
    outline: none;
    border: 1px solid #A408A7;
 }

.section_header_two {
    height: 90px;
    color: rgb(0, 0, 0);
}
.nav ul {
    list-style-type:  none;
    gap: 30px;
    font-size: 20px;
}
.basket_input {
    color: #A408A7;
    text-decoration: none;
    width: 125px;
    height: 35px;
    border: 1px solid #A408A7;
    border-radius: 8px ;
}
.nav img {
    width: 35px;
    height: 34px;
    margin-left: 4px;
}
/* Стили баннера */
.banner {
   width: 100%;
   height: 562px;
   max-height: 562px;
   background-image: url("/img/banner_fon.png");
   background-repeat: no-repeat; 
   background-position: 30% 100%;
}
.banner_text {
   padding-top: 10% ;
   width: 425px;
   height: 225px;
}
.banner_text h1 {
   color: #A408A7;
   font-size: 48px;
   font-weight: bold;
   text-align: center;
   width: 460px;
   height: 180px;
}
.banner_text h1 span {
   text-align: center;
   color: #A408A7;
   font-weight: 900;
   font-size: 32px;
  
}
.section_header_two  {
   background-color: #ffffff;
}
.aaaa {
   color: aliceblue;
   text-decoration: none;
}
.banner_text a {
   width: 175px;
   font-size: 24px;
   background: linear-gradient( #A408A7, #0040BC);
   color: rgb(255, 255, 255);
  margin: 0 140px;
   height: 45px;
  
   text-align: center   ;
   border-radius: 20px;
   box-shadow: 0px 1px 20px 1px #A408A7;

}
.cafe_text {
   padding-bottom: 30px;
  
}
.cafe_text p {
   font-weight: 900;
}
.cafe_text a {
   width: 300px;
   height: 40px;
   font-size: 24px;
   text-align: center;
   border-radius: 20px;
   border: 1px solid #ffffff;
}
.cafe_text a img {
 width: 16px;
 height: 16px;
}
.section_cafe {
   width: 100%;
   background-color: rgb(164,8,167,0.5);
   padding: 40px 0px;
   color: aliceblue;
}
.cart_cafe {
   width: 306px;
   height: 280px;
  
}
.cart_cafe img { 
   width: 300px;
   height: 215px;
   border-radius: 25px;
 
}
.cart_cafe p {
   font-size: 20px;
   margin-bottom: 0rem;
}
.cart_cafe a {
   font-size: 24px;
   padding-top: 40px;
   
}
.information_cart {
   margin-bottom: 3rem;
}
.We {
   text-align: center;
   margin-top:3rem ;
}
.information_cart img {
   margin: 0 auto;
}
.information_cart h2 {
   margin-bottom: 0rem;
   font-size: 28px;
}
.information_cart p {
   margin-bottom: 0rem;
   width: 300px;
   text-align: center  ;
}
.cart_product {
   margin-bottom: 2rem;
}
.text-around h2 {
   margin-bottom: 0rem;
   margin-top: 2rem;
}
.cart_main_categories {
   width: 550px;
   height: 370px;
   background-color: #D183D3;
   border-radius: 22px;
   margin-bottom: 2rem;
}
.cart_main_categories h2 {
  margin-left: 2rem;
  color: #ffffff;
  margin-top: 1.5rem;
}
.cart_main_categories p {
   margin-left: 2rem;
   color: #ffffff;
}
.content_main_categories {
   margin-left: 2rem;
   gap: 35px;
}
.a_content_categories {
   gap: 35px;
   color: #A408A7;
}
.a_content_categories a {
   height: 30px;
   background-color: #ffffff;
   border-radius: 18px;
   font-size: 20px;
   padding: 0px 10px;
   -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
}
.categories_a {
   display: block;
   text-decoration: none;
   height: 30px;
   width: 170px;
   background-color: #A408A7;
   color: #ffffff;
   border-radius: 18px;
   font-size: 20px;
   padding: 0px 20px;
   -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
}
.iframe {
   width: 350px;
   height: 230px;
   border-radius: 20px;
}
/* Подвал сайта  */
.footer {
   background-color: #A408A7;
   color: #ffffff;
   margin-top: 4rem;
   padding: 2rem 0rem;

}
.footer_container {
   background-color: #A408A7;
   
}
.information_footer {
   width: 360px;
}
.information_footer p {
   font-size: 18px;
}
.navigation_footer {
   list-style-type:  none;
   font-size: 18px;
}
.navigation_footer li {
   margin-bottom: 1rem;
}
/* Страница регистрации */
.tumbler {
   background-color: #A408A7;
   border: 1px solid #A408A7; 
   border-radius: 27px;
   width: 400px;
   font-size: 24px;
   margin: 0 auto;
}
.tumbler a {
   text-decoration: none;
}
.a_reg {
   width: 50%;
   text-align: center;
   color:#ffffff ;
   
}

.a_aut {
   width: 50%;
   text-align: center;
   background-color: #ffffff;
   border: 1px solid #A408A7;
   color: #000000;
   border-radius: 27px;
 
}
.a_aut a{
   color: #A408A7;
}
.h2_auth {
   color: #A408A7;
   text-align: center;
}
.forma_auth {
   width: 550px;
   margin: 0 auto;
}
.mb-3 label {
   color: #A408A7 ;
   font-size: 20px;
}
.mb-3 input {
   border:1px solid #A408A7;
   border-radius: 27px;
   color: #A408A7;
   width: 500px;
}
.mb-3 input:focus {
   color: #A408A7;
   
}
.input_auth {
   margin-top: 20px;
   background-color: #A408A7;
   border: none;
   width: 200px;
   border-radius: 27px;
}
.input_auth:hover {
   background-color: #ec56ee;
   border: none;
}
/* Секция заведения и кафе */
.section_product_nav {
   background-color: #A408A7;
   width: 100%;
   color: #ffffff;
}
.directory_nav {
   margin-top: 50px;
   
}
.directory_nav a {
   font-size: 14px;
}
.navigation h2 {
 font-size: 32px;
}
.search_content {
   width: 100%;
   height: 50px;
   border: 1px solid #ffffff;
   
   border-radius: 38px;
   background-color: #C86BCA;
}
.search_content  {
   font-size: 20px;
    padding-left: 50px;
    background-color: #C86BCA;
    background-image: url('/img/icon_search.svg');
    background-position:  10px;
    background-repeat: no-repeat;
    transition: width 0.5s ease-in-out;
}
.search_content:focus {
      outline: none;
      border: 2px solid #fd6cff;
      color: #ffffff;
     
      font-size: 24px;
  
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
/* .search_content::-webkit-search-results-decoration {
     display: none; 
   
} */
.product_section {
   margin: 70px 0px;
}
.button_basket {
   width: 45px;
   height: 45px;
   background-image: url('/img/ph_basket-light.png');
   background-repeat: no-repeat;
   background-position: center;
   background-color: #ffffff;
   border-radius: 50%;
   border: 1px solid #A408A7;
}
.capitalize {
   text-transform: Capitalize;
   }
  
.cart_product_text {
   color: #A408A7;
}
.cart_product_text p {
   color: #A408A7;
}

/* Страница товара */
.img_goods {
   max-width: 605px;
   max-height: 500px;
   border-radius: 20px;
}
.main_goods {
   max-width:80%;
   gap: 60px;
   color: #A408A7;
}
.main_goods_cost {
   font-size: 42px;
}
.main_goods_text p {
   font-size: 20px;
   margin-bottom: 0rem;
}
.main_goods_text span {
   font-weight: bold;
}
.buy_buton {
   border: 1px solid #A408A7;
   border-radius: 20px;
   color: #A408A7;
   font-size: 24px;
   padding: 10px 50px 10px 10px;
   background-image: url("/img/ph_basket-light.png");
   background-repeat: no-repeat;
   background-position: 90%;
}

/* Страница заведения */
.nav_goods {
   background-color: #A408A7;
  max-width: 100%;
   height: 90px;
   border-radius: 30px;
   font-size: 44px;
   color: #ffffff;
}
.nav_goods img {
   width: 70px;
   height: 70px;
   margin-left: 20px;
}
.nav_goods p {
display: block;
margin-top: 10px;
}
.information_cafe_main {
gap: 80px;
}
.information_cafe_main_one_fon {
   width: 750px;
   height: 300px;
  max-width: 750px;
  max-height: 320px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid #000000;
 

  /* background-repeat: inherit; */
  /* background-clip:content-box ; */
  background-size: cover;
}
.information_cafe_main_one_fon p {
   color: #ffffff;
   max-width: 400px;
   padding: 0px 20px;
   text-align: center;
   border-radius: 20px;
   background-color: #A408A7;
   font-weight: 900;
   text-shadow: 2px 3px 5px #000000;
 margin-left: 20px;
 z-index: 1;
 
}
.information_cafe_main_one_fon img {
   width: 750px;
   height: 300px;
   position: absolute;
   border-radius: 20px;
   z-index: 0.9;
}

.iframe_goods {
   width: 580px;
   border-radius: 20px;
   margin-top: 20px;
}
.search_goods {
   background-color: #ffffff;
   border: 1px solid #A408A7;
   background-image: url('/img/icon.png');
   color: #A408A7;

}
.search_goods:focus {
   color: #A408A7;
}
.cafe_product_info {
   color: #A408A7;
   max-width: 235px;
   gap: 10px;

}
.cafe_product_info a {
   font-size: 20px;

}
.cafe_product_info img {
 max-width: 235px;
 max-height: 185px;
}
.information_cafe_product h2 {
  margin: 15px 0px;
  color: #A408A7;
}
.information_cafe_product {
   gap: 200px   ;
}
.cafe_product_navigation {
   max-width: 300px;
   border-radius: 10px;
width: 210px;
  max-height: 500px;
   background-color: #A408A7;
   color: #ffffff;
   margin-top: 68px;
}
.cafe_product_navigation ul {
 text-decoration: none;
 list-style-type:none;
 font-size: 28px;
 display: block;
padding-right: 20px;
margin-top: 20px;
   
}

 .heart {
   position: relative;
   
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #ffffff;
   border: none;
   margin-bottom: 24px;

   
 }
 /* .heart:before,
 .heart:after {
   position: absolute;
   content: "";
   bottom: 5%;
   width: 20px;
   height: 30px;
   left: 20px;
   
   background-color: rgb(255, 0, 0);
   
   border-radius: 100px 100px 0 0;
   
   transform: rotate(-45deg);
   transform-origin: 0 100%;
 }
   &.paused {
      background-color: #fc0000;
   }

   &:hover {
 border-style: double;
   }
 
 .heart:after {
   left: 0;
   
   transform-origin: 100% 100%;
   transform: rotate(45deg);
 } */

 /* Личный кабинет */
 .user_name img {
 border-radius: 50%;
 width: 50px;
 height: 50px;
 }
 .user_name h2 {
   padding-top: 8px;
 }
 .nav_personal a {
   background-color: #A408A7;
   color: #ffffff;
   border-radius: 20px;
   width: 250px;
   height: 40px;
   text-align: center;
   font-size: 24px;
 }
 .information_personal_text {
   font-size: 24px;
   color: #A408A7;
   padding-top: 10px;
 }
 .button_change {
   color: #ffffff;
   background-color: #A408A7;
   border-radius: 7px;
   font-size: 24px;
   border: none;
   width: 180px;
   height: 35px;
   margin: 20px 110px;
 }
 
 /* Страница заказа пользователей */

 .user_orders {
   max-width: 100%;
   background-color: #A408A7;
 }
 .user_orders_information {
   max-width: 97%;
   width: 97%;
   background-color: #ffffff;
   height: 100px;
   margin: 10px auto;
 }
 .user_orders_information span {
   font-size: 30px;
   margin-left: 20px;
 }

 /* Страница историй заказа курьера */
 .select {
 width: 100px;
 height: 30px;
 border: 1px solid #A408A7;
 border-radius: 20px ;
 text-align: center;
 }
 
 

 .option {
   width: 100px;
   height: 30px;
   border: 1px solid #A408A7;
  ;
   }
   .data_orders_input input {
      width: 150px;
      border: 1px solid #A408A7;
      border-radius: 20px;
   }
   .data_orders_input div {
     width: 2px;
     height: 80%;
     background-color: #A408A7;
   }

   /* Страница заказа и корзины */
   .Delivery {
      max-width: 700px;
      width: 600px;
      max-height: 400px ;
      border-radius: 24px;
      border: 1px solid #A408A7;
   }
   .Delivery_info {
      margin:20px 20px;
   }
   .Delivery_conditions {
  font-size: 20px;
  background-color: #A408A7;
  width: 20%;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
   }
   .input_adress {
      max-width: 160px ;
      background-color: #ffffff;
      color: #000000;
      border: none;
      /* background-image: url("/img/home.svg");
      background-repeat: no-repeat; */
      border-bottom: 1px solid #000000;

   }
   .input_adress:focus {
      outline:none;
   }
   .input_commen {
      max-width: 90%;
      height: 40px;
      background-color: #C86BCA;
      border: none;
      border-radius: 20px;
      color: #ffffff;
      padding-left: 10px;
   }
   .input_commen:focus {
   padding-left: 10px;
   color: #ffffff;
   border: 1px solid #ffffff;
   outline:none;
   background-color: #A408A7;
   }
   .input_commen::placeholder {
      color: #ffffff;
      /* padding-left: 10px */
   }
   .basket {
      margin: 10px 20px;
   }
   .basket_product {
      width: 100%;
      height: 70px;
      border: 1px solid #A408A7;
      border-radius: 20px;
      font-size: 16px;
      margin-bottom: 20px;
   }

   .basket_product img {
      height: 90%;
      width: 60px;
      border-radius: 10px;
      /* margin-left: 15px; */
      
   }
   .basket_product p {
      margin-top: 17px;
   }
   .counter {
      width: 80px;
      height: 50%;
      background-color: #A408A7;
      border-radius: 8px;
      font-size: 16px;
   }
   .count {
      width: 30px;
      text-align: center;
      height: 60%;
      background-color: #A408A7;
      border: 1px solid #A408A7;
      color: #ffffff;
      outline: none;
   }
   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.input_count {
   background-color: #A408A7;
   color: #ffffff;
   border: 1px solid #A408A7;
}
.input_count::-ms-value {
   font-size: 20px;
}
.Sum_Button {
   padding-top: 10px;
   font-size: 24px;
}
.input_prom {
   width: 20   0px;
   background-color: #fd99fe;
   border: 1px solid #ffffff;
   border-radius: 20px;
   color: #A408A7;
}
.input_prom:focus {
   outline: none;  
   padding-left: 10px;
   color: #A408A7;
}
.input_prom[type=text] {
   padding-left: 5px;
}
.button_prom {
   width: 100px;
   background-color: #A408A7;
   color: #ffffff;
   border: none;  
   border-radius: 20px;
}
.order {
   max-width: 700px;
   width: 500px;
}
.order hr {
   color: #A408A7;

}
.switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 17px;
 }
 
 /* Скрыть флажок HTML по умолчанию */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* Ползунок */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 10px;
   width: 10px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #A408A7;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
 }
 
 /* Закругленные ползунки */
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }
 .total {
   font-size: 24px;
 }
 .total p {
   margin-bottom: 0rem;
 }
 .total button {
   max-width: 220px;
   width: 200px;
   color: #ffffff;
   background-color: #A408A7;
   border-radius: 20px;
   border: none;
   margin-top: 20px;
   margin-left: 30%;

 }
 .forma_register input {
     width: 400px;
 }
 
